*.css
*.json
*.md
*.sh
*.tf
LICENSE
src/client/lib/marked/*
src/server/self-hosted/data/*
yarn.lock
src/server/pkg/dist/*
src/server/pkg/patches/*
src/server/pkg/web.config
pnpm-lock.yaml
Dockerfile
Spacefile
